@import "fonts.css";

/* Global overrides */
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 { font-weight: normal; }
body { font-family: "Georgia","Times New Roman",serif; }
p, li { line-height: 1.5em; }


#wrapper { width: 960px; margin: 100px auto 0; position: relative; }
.site-title-section { position: fixed; top: 100px; text-align: right; }
.site-title-section .site-title,
.page-header h1 {
    font-family: "RalewayThin","Helvetica","Arial",sans-serif;
    font-size: 3em;
    margin-bottom: 1em;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
}
.site-title-section .site-tagline {
    font-family: "LeagueGothicRegular","Helvetica","Arial",sans-serif;
    font-size: 2em;
}
.site-title-section .nav {
    list-style-type: none;
}
.site-title-section .nav li.active:after {
    content: "<";
    position: absolute;
    right: -1em;
}
.page-header h2 {
    font-family: "LeagueGothicRegular","Times New Roman",serif;
    font-size: 2em;
}
.container { margin-left: 24em; }
.container:before {
    content: ">";
    font-family: "RalewayThin","Helvetica","Arial",sans-serif;
    font-size: 3em;
    position: absolute;
    left: 7.2em;
}
footer {
    width: 200px;
    text-align: center;
    font-size: .8em;
}
